.row
  .col-xs-12
    .overlap.pull-right
      .row
        .col-xs-12
          div(#searchViewNode="")
      .row.pull-right
        .col-xs-12
          button.btn.btn-primary( '(click)'="toggleDrawTool()", type="button", [(ngModel)]="togleDrawModel", btnCheckbox, btnCheckboxTrue="true", btnCheckboxFalse="false", [(disabled)]="togleDrawModelDisabled" ) Draw Polygon disabled:{{togleDrawModelDisabled}}
    div(#mapViewNode="")

