nav.navbar.yamm.navbar-default
  .navbar-header
    a(routerLink='/').navbar-brand {{productDescription}}

  ul.nav.navbar-nav
    li.dropdown.yamm-fw
      a.dropdown-toggle(data-toggle='dropdown' href='#')
        | BigMenu Example
        span.caret

      ul.dropdown-menu
        li
          .yamm-content
            .row

              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                h4 Project
                  .glyphicon.glyphicon-heart(aria-hidden="true")
                hr
                .row
                  a.col-xs-12(routerLink='projectoverview') Show Project Overview

              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                h4 Geolocation
                  .glyphicon.glyphicon-star(aria-hidden="true")
                hr
                .row
                  a.col-xs-12(routerLink='mapview') Show Map

