
<nav class="navbar yamm navbar-default">
  <div class="navbar-header"><a class="navbar-brand" routerLink="/">{{productDescription}}</a></div>
  <ul class="nav navbar-nav">
    <li class="dropdown yamm-fw"><a class="dropdown-toggle" data-toggle="dropdown" href="#">BigMenu Example<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <div class="yamm-content">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h4>Project
                  <div class="glyphicon glyphicon-heart" aria-hidden="true"></div>
                </h4>
                <hr/>
                <div class="row"><a class="col-xs-12" routerLink="projectoverview">Show Project Overview</a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h4>Geolocation
                  <div class="glyphicon glyphicon-star" aria-hidden="true"></div>
                </h4>
                <hr/>
                <div class="row"><a class="col-xs-12" routerLink="mapview">Show Map</a></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</nav>