
<div class="welcome-component">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-3">
      <h1>Welcome to {{productDescription}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-3">
      {{productDescription}} helps you to manage your IT-Freelance Projects.
      It supports VIEWS for different main focuses, managing key skills,
      differnt export formats, and import from json.
      It also helps you visualizing your Work places on a map.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-3">Use the manue</div>
  </div>
</div>