
<div class="row">
  <div class="col-xs-12">
    <div class="input-group"><span class="input-group-addon">
        <div class="glyphicon glyphicon glyphicon-user"></div></span>
      <input class="form-control" id="projectname" type="text" name="projectname" placeholder="Project Name"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="input-group"><span class="input-group-addon">
        <div class="glyphicon glyphicon glyphicon-heart"></div></span>
      <input class="form-control" id="projescription" type="text" name="projescription" placeholder="Project Description"/>
    </div>
  </div>
</div>